/* 
    Document   : menu
    Created on : 12 трав 2012, 15:50:36
    Author     : Admin
    Description:
        Purpose of the stylesheet follows.
*/

comboRoot {
    -fx-background-color:linear-gradient(white,#DDDDDD);
}

#labelName{
    -fx-font: 18pt "Comic Sans MS"
}

#labelPrice  {
    -fx-font: 14pt "Comic Sans MS"
}

#WoodWall {
    -fx-background-image: url("wood_wall.png");
}


